/*feedback_data style page*/

body {
    margin:0;
}

/* Add a black background color to the top navigation */
.topnav {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 22px 30px;
    text-decoration: none;
    font-size: 22px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.feeddata-part1 {
    float: left;
    background-color: #d6d6d6;
    margin-top: 77px;
    width: 100%;
}

.feeddatapart1-text {
    width: 60%;
    float: left;
    margin-left: 50px;
    margin-top: 0.5px;
    font-size: 30px;
    padding: 15px;
    text-align: justify;
    font-family: cursive;
}

.feeddatapart1-image {
    float: right;
    width: 10%;
    margin-right: 50px;
    margin-top: -20px;
}

.feeddatapart1-image:hover {
    filter: brightness(150%) contrast(150%) saturate(150%);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.feeddata-section-container {
    width: 100%;
    margin-top: 6px;
    background-color: #a1a1a1;
    float: left;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.feeddata-section-container > table {
    width: 90%;
    margin: auto;
    border: 5px solid black;
    background-color: white;
}

td, th {
    border: 1px solid red;
    text-align: center;
    padding: 15px;
    width: 13%;
}

th {
    background-color: deepskyblue;
    color: black;
    font-weight: bolder;
    font-size: 17px;
}


/*styling the footer section*/
.footer {
    float: left;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    padding: 30px 30px 20px 30px;
    color: #2f2f2f;
    background-color: black;
    border-top: 1px solid #e5e5e5;
    margin-top: 5px;
}

*, *:before, *:after {
    box-sizing: border-box;
}

.footer > * {
    flex:  1 100%;
}

.nav__title {
    font-weight: 400;
    font-size: 27px;
    color: white
}

.footer ul {
    list-style: none;
    padding-left: 0;
}

.footer li {
    line-height: 2em;
}

.footer a {
    text-decoration: none;
    font-size: 19px;
}

.footer__nav {
    display: flex;
    flex-flow: row wrap;
}

.footer__nav > * {
    flex: 1 50%;
    margin-right: 1.25em;
}

.nav__ul a {
    color: #999;
}

.nav__ul a:hover {
    color: white;
}

@media screen and (min-width: 40.375em) {
    .footer__nav > * {
    flex: 1;
  }
}

